adapter speed 1000

adapter driver cmsis-dap

# use auto backend
# if used with esp32 cmsis-dap wireless and usbip
# you can use this configuration to connect to local
# virtual usb device that communicate over wireless network
cmsis-dap backend auto

transport select jtag

reset_config none
