adapter speed 400

adapter driver cmsis-dap

# ESP32 CMSIS-DAP TCP configuration
cmsis-dap backend tcp
cmsis-dap tcp host cmsis-dap-jtag1.local
cmsis-dap tcp port 4441

transport select jtag

reset_config none
