# this supports JTAG-HS2 (and apparently Nexys4 as well)
adapter speed     1000

#interface ftdi
adapter driver ftdi

#ftdi_device_desc "Digilent Adept USB Device"
ftdi vid_pid 0x0403 0x6014

#ftdi_channel 0
ftdi layout_init 0x00e8 0x60eb

transport select jtag

reset_config none
