# Copyright (C) 2026 Indonesia Chip Design Collaborative Center (ICDEC)
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
# OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NONINFRINGEMENT.

# this openocd config is purely tcl script
# to simulate shell command: echo "ready" >> "$OPENOCD_PIPE"

# for tcl version 9, instead of use command puts, flush, close
# use command: chan puts, chan flush, chan close
#chan puts  $openocd_pipe_fd "ready"
#chan flush $openocd_pipe_fd
#chan close $openocd_pipe_fd

# get OPENOCD_PIPE from environment variable as path to pipe/file
# open it as write-only and append (not truncate to 0) and set the
# channel handle to openocd_pipe_fd
if {[catch {open $::env(OPENOCD_PIPE) {WRONLY APPEND}} openocd_pipe_fd] == 0} {
	# write "ready" to file
	puts  $openocd_pipe_fd "ready"
	flush $openocd_pipe_fd
	close $openocd_pipe_fd
}
