adapter speed     1000

# Digilent J-Link Segger
adapter driver jlink
reset_config none

set _CHIPNAME riscv

jtag newtap $_CHIPNAME unknown0 -irlen 5 -expected-id 0x10102001
jtag newtap $_CHIPNAME cpu -irlen 5 -expected-id 0x249511C3

set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME riscv -chain-position $_TARGETNAME -coreid 0x3e0

gdb report_data_abort enable
gdb report_register_access_error enable

riscv set_command_timeout_sec 120

# dump jtag chain
scan_chain

init
halt
echo "Ready for Remote Connections"
