# backup files
*~
*.bak

# patch backup
*.orig
*.rej

# object file
*.o
*.elf

# massif analyzer output (not standardized extension, but used in makefile for massif reporting)
*.elf.massif.out

# coverage analysis tool (gcov) report
*.gcno
*.gcda

# build directory
**/build/*

# enable
*.bin

# binary
*/*.elf
scripts/elf_to_flash_image
*/*/spi_flash_probe
*/*/spi_flash_writer
*/*/spi_flash_reader
